@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background:#171920; 
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 248, 248);
}

header {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 10px solid rgba(23, 25, 32, .4);
}

header img {
    width: 230px;
    height: 52px;
    margin-bottom: -30px;
    margin-left: 15px;
}

.links {
    text-align: center;
}

.links a {
    margin: 0 30px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(58, 185, 90, 0.25);
    font-size: 22px;

    padding: 5px;
}

.links a:hover {
    color: #3db95c;
    border-bottom: 2px solid #25a846d8;

    transition: all 250ms;

}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid white;

    margin-bottom: 32px;
}

#wrapper img:hover {
    border: 6px solid #37d65f;
}

#wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 32px;
}

#wrapper h2 {
    font-size: 32px;
    opacity: .8;
    line-height: 42px;
    font-weight: normal;
    margin-top: 5px;
}

#wrapper p {
    max-width: 500px;
    margin: 28px auto;

    font-size: 20px;
    line-height: 30px;
}

#tecnologies {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    width: 800px;
    height: 260px;
    border-radius: 40px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

    display: flex;

}
#tecnologies img {
    opacity: .5;

    width: 250px;
    height: 260px;

    margin: 0 50px;
}

.container h1 {
    font-size: 24px;
    font-weight: bold;

    max-width: 530px;

    line-height: 34px;
    margin-bottom: 10px;
    text-align: center;
}
.container h2 {
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: 22px;
    line-height: 32px;

    color: #2dbd51d5;
}

.container li {
    font-size: 20px;
    max-height: 30px;
    text-align: left;
    line-height: 30px;
}

.container ul {
    margin-bottom: 5px;
    margin-left: 70px;
}

#footer-links {
    margin: 50px auto;

}

#footer-links a {
    border-bottom: 2px solid rgba(63, 187, 94, 0.363);
    padding: 5px;
}

#footer-links a:hover {
    border-bottom: 3px solid #25a846d8;
    transition: 250ms;
}